<div class="row">
    <div class="col-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">🏠 หน้าแรก</a></li>
                <li class="breadcrumb-item active" aria-current="page">❓ คำถามที่พบบ่อย</li>
            </ol>
        </nav>
    </div>
</div>
<div class="faq_area section_padding_130" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-lg-6">
                <!-- Section Heading-->
                <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <h2>คำถามที่พบบ่อย </h2>
                    <p>คำถามที่พบบ่อยที่รวบรวมมากจากผู้ใช้ของทาง มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรี่ราชา</p>
                    <div class="line"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <!-- FAQ Area-->
            <div class="col-12 col-sm-10 col-lg-8">
                <div class="accordion faq-accordian" id="faqAccordion">
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingOne">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">จำรหัสผ่านไม่ได้ต้องทำอย่างไร<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>หากจำรหัสผ่านไม่ได้สามารถกดที่ปุ่มลืมรหัสผ่าน</p>
                                <p>ติดต่อด้วยตนเองที่ อาคาร 1 บริการวิทยาการ ชั้น 3 งานเทคโนโลยีสารสนเทศ กองบริการกลาง สำนักงานวิทยาเขต ในวันจันทร์ - ศุกร์ เวลา 8.30 - 17.30 น.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingTwo">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">สามารถรับใบจบการศึกษาได้ที่ไหน<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>ฝ่ายการศึกษามหาวิทยาลัยเกษตรศาสตร์วิทยาเขตศรีราชา (ตึก1)</p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                        <div class="card-header" id="headingThree">
                            <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">ถ้ามีปัญหาสามารถติดต่อได้ที่ใดบ้าง<span class="lni-chevron-up"></span></h6>
                        </div>
                        <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                            <div class="card-body">
                                <p>สามารถติดต่อได้ที่ <a href="http://localhost:4200/contactus"> ติดต่อเรา</a> </p>
                                <p>หากเร่งด่วนสามารถโทร 065-7162627 (666536) ในวันจันทร์ - ศุกร์ เวลา 8.30 - 17.30 น.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Support Button-->
                <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <i class="lni-emoji-sad"></i>
                    <p class="mb-0 px-2">หากไม่พบคำตอบ</p>
                    <a href="http://localhost:4200/contactus"> ติดต่อเรา</a>
                </div>
            </div>
        </div>
    </div>
</div>